<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459480755117-756a69dkuvgt7cj789qukkrlf54okbc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459480755117-756a69dkuvgt7cj789qukkrlf54okbc6</string>
	<key>API_KEY</key>
	<string>AIzaSyCqmHSPbanGt-62SV0VFuQ_I7EFoeA3Tug</string>
	<key>GCM_SENDER_ID</key>
	<string>459480755117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rhelius.citycab</string>
	<key>PROJECT_ID</key>
	<string>city-cab-7964e</string>
	<key>STORAGE_BUCKET</key>
	<string>city-cab-7964e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459480755117:ios:63939e21976eef819b0f24</string>
</dict>
</plist>